# CI action that can either run:
# - via a manual trigger on a PR
# - every time a PR is updated
# The CI then then either updates the readme with a python script,
# or checks that it does not need update.

name: Update Files

on:
  pull_request:
    branches:
      - main
    types: [opened, synchronize, reopened]
  workflow_dispatch:

jobs:
  update-files:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #v5.0.0

      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c #v6.0.0
        with:
          python-version: '3.x'

      - uses: extractions/setup-just@e33e0265a09d6d736e2ee1e0eb685ef1de4669ff #v3.0.0
        with:
          just-version: 1.35.0

      - name: All files
        run: just

      - name: Check for changes
        id: git-check
        run: |
          git diff --exit-code --name-only ':!.assets/timeline-gantt.png' . || echo "changes=true" >> $GITHUB_OUTPUT

      - name: Commit and push changes if manually triggered
        if: github.event_name == 'workflow_dispatch' && steps.git-check.outputs.changes == 'true'
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add .
          git commit -m "Update files"
          git push origin ${{ github.head_ref }}

      - name: Error if changes needed on PR
        if: github.event_name == 'pull_request' && steps.git-check.outputs.changes == 'true'
        run: |
          echo "Error: files need to be updated. Please run this workflow manually to update it."
          exit 1
